<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>%%TAB_TITLE%%</title>
    %%CSS_LINK%%
    <link href="../layout/navbar/navbar.css" rel="stylesheet">

</head>
<body>
<nav>
    <div class="container">
        <section id="main-menu">
            <!-- Main menu -->
            <a href="/">Home</a>
            <a href="../http#http" id="one">HTTP Methods</a>
            <a href="../node#node" id="two">Node Related</a>
            <a href="../javascript#js" id="three">JavaScript Topics</a>
            <a href="../rest-api#" id="four">Rest API</a>
            <a href="../cli#cli" id="five">Terminal Commands & Extensions</a>
            <a href="../auth" id="auth">Login & Register</a>
        </section>

        <!-- HTTP -->
        <section>
            <a href="/" id="http">Home</a>
            <a href="#get">Get</a>
            <a href="#post">Post</a>
            <a href="#put">Put</a>
            <a href="#patch">Patch</a>
            <a href="#delete">Delete</a>
        </section>

        <!-- Node Related -->
        <section>
            <a href="/" id="node">Home</a>
            <!--            <a href="">Express</a>-->
            <!--            <a href="">Nodemon</a>-->
            <!--            <a href="">Cross-env</a>-->
            <!--            <a href="">Package.json</a>-->
            <!--            <a href="">Redirecting</a>-->
            <!--            <a href="">Server Side Rendering</a>-->
        </section>

        <!-- JavaScript Topics -->
        <section>
            <a href="/" id="js">Home</a>
        </section>

        <!-- Rest API -->
        <section>
            <a href="/" id="rest-api">Home</a>
            <a href="">Rest API</a>
        </section>

        <!-- Terminal  -->
        <section>
            <a href="/" id="cli">Home</a>
        </section>
    </div>
</nav>

</body>
</html>