.box {
  display: grid;

  img {
    width: 100%;
  }
}


.collapsible {
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;
  padding: 18px;
  max-width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;

}

.active,
.collapsible:hover {
  background-color: green;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background: linear-gradient(45deg, #595245, #353129);
  color: aliceblue;

  span {
    margin: 5px 0 5px 0;

  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: cornflowerblue;
      text-decoration: underline;
    }
  }

  .snippet {
    background: dimgrey;
    font-style: italic;
  }
}


